body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #538d4e;
    font-family: monospace;
    text-align:  center;
    font-size: 1.3rem;
    font-style: italic;
}

header {
    color: #3d7c37;
    margin: 2rem;
    font-size: 20px;
}

a:link {
  color: #31ad25; /* Unvisited link color */
}

a:visited {
  color: rgb(69, 116, 255); /* Visited link color */
}

a:hover {
  color: yellow; /* Mouse over link color */
}

a:active {
  color: pink; /* Selected link color */
}


#about {
  display: flex;
  font-size: large;
  justify-content: center;
  padding: 1rem;
}

.about-card {
    display: grid;
    grid-template-columns: 180px 1fr;
    margin-top: 3rem;
    gap: 2rem;
    align-items: center;

    background-color: #c3cac7;
    padding: 2rem;
    border-radius: 12px;
    max-width: 1000px;
    width: 100%;

    border: 2px solid #538d4e;


}

.intro-image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;  
  border: 2px solid #538d4e;  
}


#experience {
  display: flex;
  font-size: large;
  justify-content: center;
  padding: 3rem;
}
.experience-card {
  background-color: #c3cac7;
  padding: 2rem;
  border-radius: 12px;
  max-width: 1000px;
  width: 100%;
  border: 2px solid #538d4e;

  color: #121213;
  line-height: 1.6;
}

.experience-card h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.experience-card ul {
  padding-left: 1.2rem;
}

.experience-card li::marker {
  color: #538d4e;
}

#projects {
  display: flex;
  font-size: large;
  justify-content: center;
  padding: 3rem;
}
.projects-card {
  background-color: #c3cac7;
  padding: 2rem;
  border-radius: 12px;
  max-width: 1000px;
  width: 100%;
  border: 2px solid #538d4e;

  color: #121213;
  line-height: 1.6;
}

.projects-card h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.projects-card ul {
  padding-left: 1.2rem;
}

.projects-card li::marker {
  color: #538d4e;
}

#contact {
  display: flex;
  font-size: large;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 5rem;
}

.contact-card {
  background-color: #c3cac7;
  padding: 2rem;
  border-radius: 12px;
  max-width: 1000px;
  width: 100%;
  border: 2px solid #538d4e;

  color: #121213;
  line-height: 1.6;
}

.contact-card h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.contact-card ul {
  padding-left: 1.2rem;
}

.contact-card li::marker {
  color: #538d4e;
}



#name-wordle {
  font-family: sans-serif, Arial, Helvetica;
}
#name-wordle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem; 
    gap: .5rem;
}

.wordle-row {
    display: grid;
    grid-template-columns: repeat(5, 61px); /* 5 tiles */
    gap: .5rem;
}

#name-wordle .tile {
    width: 62px;
    height: 62px;
    display: flex;
    border: 1px solid #494949;

    align-items: center; /* centers vertically */
    justify-content: center;

    background-color: transparent;
    
    font-size: 2.2rem;
    font-weight: bold;
    color: transparent;
}

/* what's rotated */
#name-wordle .tile .flip {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.2rem;
  font-weight: bold;
  border: 2px solid #494949;

  color: white; /* hidden before reveal */

  background-color: transparent;

  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateX(90deg); /* flipped down initially */
}


.tile .flip.reveal {
    animation: flip-in 1s ease forwards;
    color: white;
}

#name-wordle .flip.reveal.green  { background-color: #538d4e; }
#name-wordle .flip.reveal.yellow { background-color: #c9b458; }
#name-wordle .flip.reveal.gray   { background-color: #404040; }


@keyframes flip-in {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}